.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: end;
}
button {
  background-color: blue;
  color: white;
  width: 150px;
  height: 40px;
  border: 1px solid white;
}
.total-order {
  color: gray;
}
.cart-summary-h {
  margin-bottom: 0px;
}
